<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/kenpeter/how_to_become_a_better_programmer">About</a></li>
    </ul>
  </div>
</nav>
