<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <table>
          <% for(let i=0; i < allTickets.length; i++) { %>
            <% let id = allTickets[i].id; %>
            <tr>
              <td><%= id %></td>
              <td><%= allTickets[i].status %></td>
              <td><a href="/tickets/<%= id %>"><%= allTickets[i].subject %></a></td>
            </tr>
          <% } %>
        </table>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
