<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <table>
          <% for(var i=0; i < allTickets.length; i++) { %>
           <tr>
             <td><%= allTickets[i].id %></td>
             <td><%= allTickets[i].status %></td>
             <td><%= allTickets[i].subject %></td>
           </tr>
          <% } %>
        </table>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
