<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>

    <body>
        <div class="container">
            <header>
                <% include  partials/header %>
            </header>

            <main>
                <h1>Welcome to my awesome page</h1>
                <p>This is the best website ever created</p>
            </main>

            <footer>
                <% include partials/footer %>
            </footer>
        </div>
    </body>
</html>
