<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <p><strong>ID:</strong><br/> <%= singleTicket.id %></p>
        <p><strong>Subject:</strong><br/> <%= singleTicket.subject %></p>
        <p><strong>Requester:</strong><br/> <%= singleTicket.requester_id %></p>
        <p><strong>Description:</strong></br> <%= singleTicket.description %></p>
        <p><a href="/">Back to all tickets</a></p>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
